/* css styles */
.quarto-title-banner {
  background-color: #000080;
}

.navbar-dark {
  background-color: #000080;
}

.key-background {
 background-color: #E0FFFF;
 border:2px #191970;
}

.about-heading {
 background-color: #E0FFFF;
 border:2px #191970;
 font-style: bold;
}

.subheading{
  color: DodgerBlue;
}
